---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: frodenas/bosh-google-cpi-boshrelease
    tag: v1
inputs:
  - name: bosh-cpi-src
run:
  path: bosh-cpi-src/ci/tasks/teardown-infrastructure.sh
params:
  google_project:                 replace-me
  google_region:                  replace-me
  google_zone:                    replace-me
  google_json_key_data:           replace-me
  google_network:                 replace-me
  google_firewall_internal:       replace-me
  google_firewall_external:       replace-me
  google_address_director_ubuntu: replace-me
  google_address_director_centos: replace-me
  google_address_bats_ubuntu:     replace-me
  google_address_bats_centos:     replace-me
